    <header>
        <h1>Bem-vindo ao Travelnest</h1>
    </header>

    <div class="container">
        <div class="row">
            <section id="ofertas" class="col-md-6">
                <div class="card">
                    <%= image_tag("ofertas/ícone_desconto.png", class: "w-60 h-25 object-fit") %>
                    <h2>Ofertas Especiais</h2>
                    <p>Economize em sua estadia com nossas ofertas especiais. Faça já sua reserva conosco!</p>
                    <button type="button" class="btn btn-secondary">Hotéis</button>
                </div>
            </section>

            <section id="atracoes" class="col-md-6">
                <div class="card">
                    <%= image_tag("atracaoturistica/Icone_atracao_turistica1.jpg", class: "w-60 h-25 object-fit") %>
                    <h2>Atrações Nacionais</h2>
                    <p>Descubra as atrações Nacionais e atividades emocionantes que voçê pode conhecer durante suas férias.</p>
                    <button type="button" class="btn btn-secondary">Atrações Nacionais</button>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <%= render 'shared/footer' %>
    </footer>

