<div class="container mt-5 mb-5">
        <header>
            <h1>Vamos para onde agora? XD</h1>
        </header>
        <div class="row mt-4 d-flex justify-content-center align-items-center bg-primary p-3 rounded">
            <section id="description-card " class="col-md-4 mt-2">
                <div class="d-flex justify-content-center align-items-center p-3 ">
                    <span class="fs-3 text-light fw-bolder">
                        Encontre e reserve a sua estadia perfeita 
                        <span type="button" class="bi bi-info-circle-fill"></span>
                    </span>
                </div>
            </section>
            <section id="ofertas" class="col-md-4 mt-2">
                <div class="card d-flex justify-content-center align-items-center p-3">
                    <%= image_tag("ofertas/ícone_desconto.png", class: "card-img-top w-50") %>
                    <h4>Ofertas Especiais</h4>
                    <p>Economize em sua estadia com nossas ofertas especiais.</p>
                    <button type="button" class="btn btn-success">Consultar Ofertas</button>
                </div>
            </section>

            <section id="atracoes" class="col-md-4 mt-2">
                <div class="card d-flex justify-content-center align-items-center p-3">
                    <%= image_tag("atracaoturistica/atracoes_banner_resized.jpg", class: "card-img-top w-50") %>
                    <h4>Atrações Nacionais</h4>
                    <p>Descubra as atrações que voçê pode conhecer durante suas férias.</p>
                    <button type="button" class="btn btn-success">Atrações Nacionais</button>
                </div>
            </section>
        </div>
    </div>

    <footer>
        <%= render 'shared/footer' %>
    </footer>

