<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contato</h3>
        <p>Email: Travelnest@gmail.com</p>
        <p>Telefone: (83) 9630-2373</p>
      </div>
      <div class="col-md-4">
        <h3>Redes Sociais</h3>
        <ul>
          <li><%= link_to 'Facebook', '#' %></li>
          <li><%= link_to 'Instagram', '#' %></li>
        </ul>
        <p>&copy; 2023 - Travelnest. Programação Distribuída.</p>
      </div>
    </div>
  </div>
</footer>
