<!-- app/views/shared/_footer.html.erb -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Contato</h3>
        <p>Email: contato@seuhotel.com</p>
        <p>Telefone: (123) 456-7890</p>
      </div>
      <div class="col-md-4">
        <h3>Redes Sociais</h3>
        <ul>
          <li><%= link_to 'Facebook', '#' %></li>
          <li><%= link_to 'Twitter', '#' %></li>
          <li><%= link_to 'Instagram', '#' %></li>
        </ul>

        <p>&copy; 2023 - Travelnest. Programação Distribuída.</p>
      </div>
    </div>
  </div>
</footer>

