<div class="container w-100 d-flex justify-content-center align-items-center mt-5">
<div class="card mb-3 p-2 border-2 w-25 ">
            
            <div class="card-body text-center">
            <p><%= @url %></p>
          </div>
        </div>
        </div>
