.footer-background text-center {
    background-color: #007BFF; /* Substitua pela cor de fundo desejada */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
  }